body {
  padding-top: 20px; /* Adjust as needed */
  margin: 0; /* Remove default body margin */
  font-family: 'Frutiger Aero', sans-serif;
  font-size: 15px;
}

ul {
  list-style-type: none;
  margin: 0; /* Remove margin */
  padding: 0;
  overflow: hidden;
  background: linear-gradient(to right, rgba(44, 62, 80, 0.5), rgba(44, 62, 80, 0.9)); /* Glassy gradient background */
  backdrop-filter: blur(10px); /* Adds a blur effect for a glassy feel */
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom-left-radius: 10px; /* Round bottom left corner */
  border-bottom-right-radius: 10px; /* Round bottom right corner */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

li {
  float: left;
  border-right: 1px solid #ecf0f1; /* Light border color */
}

li a {
  display: block;
  color: #ecf0f1; /* Light text color */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add subtle 3D text effect */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

/* Change the link color to a slightly darker shade on hover */
li a:hover {
  background-color: #34495e; /* Darker hover color */
  color: #fff; /* Change text color on hover */
}

.active {
  background-color: #04aa6d;
}

li:last-child {
  border-right: none;
}
