:root {
    --background-color-light: #ffffff; /* Light mode background color */
    --text-color-light: #000000; /* Light mode text color */
    
    --background-color-dark: #333333; /* Dark mode background color */
    --text-color-dark: #ffffff; /* Dark mode text color */
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--background-color-dark);
        --text-color: var(--text-color-dark);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: var(--background-color-light);
        --text-color: var(--text-color-light);
    }
}

#videos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjusted min-width for smaller screens */
    gap: 15px; /* Reduced gap for smaller screens */
}

.video {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px; /* Reduced padding for smaller screens */
    overflow: hidden;
}

.video img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.video h2 {
    margin: 6px 0; /* Reduced margin for smaller screens */
    font-size: 14px; /* Smaller font size for smaller screens */
    font-weight: bold;
}

.video p {
    margin: 0;
    font-size: 12px; /* Smaller font size for smaller screens */
    color: #666;
}

@media (max-width: 768px) { /* Adjustments for screens smaller than 768px width, typically mobile devices */
    #videos-grid {
        grid-template-columns: 1fr; /* Display one column on smaller screens */
    }

    .video {
        padding: 10px; /* Adjusted padding for smaller screens */
    }

    .video h2 {
        font-size: 16px; /* Larger font size for better readability on smaller screens */
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}