/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f9f9f9;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 40px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}

.video-container {
    width: 90%; /* Adjusted for smaller screens */
    max-width: 90%; /* Adjusted for smaller screens */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

video {
    width: 100%;
    display: block;
}

.video-info {
    padding: 20px;
    background-color: #fff;
}

.video-info h1 {
    margin-top: 0;
    font-size: 1.5em;
}

.video-info p {
    margin: 10px 0;
    color: #606060;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .video-container {
        width: 100%;
        max-width: 100%;
    }
}
